{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'dash/assets/images/logo.png' %}">
      <link href="{% static 'dash/assets/node_modules/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'dash/assets/node_modules/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet">
      <link href="{% static 'dash/css/pages/google-vector-map.css' %}" rel="stylesheet">
      <link href="{% static 'dash/assets/node_modules/morrisjs/morris.css' %}" rel="stylesheet">
      <link href="{% static 'dash/assets/node_modules/c3-master/c3.min.css' %}" rel="stylesheet">
      <link href="{% static 'dash/css/style.css' %}" rel="stylesheet">
      <link href="{% static 'dash/css/pages/dashboard1.css' %}" rel="stylesheet">
      <link href="{% static 'dash/css/colors/default.css' %}" id="theme" rel="stylesheet">
      <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
      <title>DEEP ABOUT TWEET - Dashboard</title>
  </head>
   <br>
   <header class="topbar">
      <nav class="navbar top-navbar navbar-expand-md navbar-light">

         <div class="navbar-collapse">

            <ul class="navbar-nav">

               <div class="col-md-12">
                  <a href="{% url 'index' %}"><img src="{% static 'dash/assets/images/logo.jpg' %}" alt="homepage" class="dark-logo" height="100px;" />
                  </a><br>
               </div>
            </ul>
            <ul class="navbar-nav mr-auto">
               <div class="col-md-12">
                  <h1 class="text-themecolor" align="center"><b>Twitter Analysis of {{text}}</b></h1>
               </div>
               <br>
            </ul>
              <ul class="navbar-nav">
               <li class="nav-item dropdown u-pro">
                  <a href="{% url 'index' %}" class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" aria-haspopup="true" >
                     <img src="{% static 'dash/assets/images/users/logo.png' %}" alt="user"/>
                     <b>
                        <h3 class="text-themecolor">Search Again&nbsp;</h3>
                     </b>
                  </a>
               </li>
            </ul>
         </div>
      </nav>
   </header>
   <body>
      <!-- ============================================================== -->
      <div id="main-wrapper">
         <div class="cl">
               <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid" id="tweets">
               <!-- ============================================================== -->
               <!-- Bread crumb and right sidebar toggle -->
               <!-- ============================================================== -->
               <div class="row page-titles">
                  <div class="col-md-5 align-self-center">
                     <h3 class="text-themecolor">Deep About Tweet</h3>
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                           <h6><b>Emotion Analysis</b></h6>
                        </li>
                     </ol>
                  </div>
               </div>
               <div class="row">
                  <!-- Column -->
                  <!-- Column -->
                  <div class="col-md-5">
                     <div class="card card-shadow">
                        <div class="card-body">
                           <a data-toggle="modal" data-target="#mymodal1">
                              <div class="up-img" style="background-image:url({% static 'dash/assets/images/emotion_demo.png' %})"></div>
                           </a>
                        </div>
                        <div class="card-text">
                        </div>
                     </div>
                  </div>
                  <div id="mymodal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                     <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h4 class="modal-title" id="myLargeModalLabel">Emotion Analysis</h4>
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           </div>
                           <div class="modal-body">
                              <img class="img-responsive" src=" {% static 'dash/assets/images/emotion_demo.png' %}" alt="Third slide">
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-7 col-md-12">
                     <div class="card card-body mailbox">
                        <h5 class="card-title"></h5>
                        <div class="message-center ps ps--theme_default ps--active-y" data-ps-id="a045fe3c-cb6e-028e-3a70-8d6ff0d7f6bd">
                           <!-- Message -->
                           {% block content %}
                           {% for data,data_emotion in data %}
                           <a>
                              <div class="btn btn-info btn-circle col-lg-12"><i class="fab fa-twitter"></i></div>
                              <div class="mail-contnet" >
                                 <h5 style="line-height:30px;"><b>{{ data_emotion }}</b></h5>
                                 <h6>{{data}}</h6>
                              </div>
                           </a>
                           {% endfor %}
                             </ul>
                        </div><br>
                        <!--<div class="pagination">
                          <span class="step-links">
                          {% if data.has_previous %}
                                <ul class="pagination">
                                    <li >
                                        <a href="?page={{ numbers.previous_page_number }}"><h6><b>Previous</b></h6></a>
                                    </li>
                              {% endif %}
                             {% if data.has_next %}
                             <a href="?page={{ numbers.next_page_number }}"><h6><b>Next</b></h6></a>
                             {% endif %}
                           </ul>
                         </span>
                       </div> -->
                     </div>
               </div>
               </div>
            </div>
               <!-- ============================================================== -->
               <!-- End Sales Chart -->
               <!-- ============================================================== -->
               <!-- ============================================================== -->
               <!-- Projects of the Month -->
               <!-- ============================================================== -->
               <div class="container-fluid" id="links">
               <div class="row page-titles">
                  <div class="col-md-5 align-self-center">
                     <h3 class="text-themecolor">Deep About Tweet</h3>
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                           <h6><b>Links & Timing Diagram </b></h6>
                        </li>
                     </ol>
                  </div>
               </div>
               <div class="row">
                  <!-- Column -->
                  <!-- Column -->
               
                  <div class="col-lg-4 col-md-12">
                     <div class="card card-body mailbox">
                        <h5 class="card-title"></h5>
                        <div class="message-center ps ps--theme_default ps--active-y" data-ps-id="a045fe3c-cb6e-028e-3a70-8d6ff0d7f6bd">
                           <!-- Message -->
                           {% for data in linkdata %}
                           <a href={{data}} target="_blank">
                              <div class="btn btn-info btn-circle col-lg-12"><i class="fas fa-link"></i></div>
                              <div class="mail-contnet" >
                                 <h5 style="line-height:30px;"><b>{{data}}</b></h5>
                                                                  <h6>{{data}}</h6>
                              </div>
                           </a>
                           {% endfor %}
                             </ul>
                        </div><br>
                              {% endblock %}
                     </div>
               </div>
               <div class="col-md-8">
                     <div class="card card-shadow">
                        <div class="card-body">
                           <a data-toggle="modal" data-target="#mymodal2">
                              <div class="up-img" style="background-image:url({% static 'dash/assets/images/timechart_demo.png' %})"></div>
                           </a>
                        </div>
                        <div class="card-text">
                        </div>
                     </div>
                  </div>
                  <div id="mymodal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                     <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h4 class="modal-title" id="myLargeModalLabel">Timechart Analysis</h4>
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           </div>
                           <div class="modal-body">
                              <img class="img-responsive" src=" {% static 'dash/assets/images/timechart_demo.png' %}" alt="Third slide">
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
                              </div>
               <!-- Column -->
               <!-- Column -->
               <div class="container-fluid">
               <div class="row page-titles">
                  <div class="col-md-5 align-self-center">
                     <h3 class="text-themecolor">Deep About Tweet</h3>
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                           <h6><b>Wordcloud & Device Recognization</b></h6>
                        </li>
                     </ol>
                  </div>
               </div>
               <div class="row">
                  <!-- Column -->
                  <!-- Column -->
                  <div class="col-lg-4">
                     <div class="card">
                        <div class="card-body">
                           <a data-toggle="modal" data-target="#mymodal3">
                              <div class="up-img" style="background-image:url({% static 'dash/assets/images/sourcedevice_demo.png' %})"></div>
                           </a>
                        </div>
                        <div class="card-text">
                        </div>
                     </div>
                  </div>
                  <div id="mymodal3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                     <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h4 class="modal-title" id="myLargeModalLabel">Device Information</h4>
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           </div>
                           <div class="modal-body">
                              <img class="img-responsive" src="{% static 'dash/assets/images/sourcedevice_demo.png' %}" alt="Third slide">
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-8">
                     <div class="card">
                        <div class="card-body">
                           <a data-toggle="modal" data-target="#mymodal4">
                              <div class="up-img" style="background-image:url({% static 'dash/assets/images/wordcloud_demo.jpg' %})"></div>
                           </a>
                        </div>
                        <div class="card-text">
                        </div>
                     </div>
                  </div>
                  <div id="mymodal4" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                     <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h4 class="modal-title" id="myLargeModalLabel">Wordcloud</h4>
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           </div>
                           <div class="modal-body">
                              <img class="img-responsive" src="{% static 'dash/assets/images/wordcloud_demo.jpg' %}" alt="Third slide">
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- ============================================================== -->
                  <!-- End Projects of the Month -->
                  <!-- ============================================================== -->
                  <!-- ============================================================== -->
                  <!-- Notification And Feeds -->
                  <!-- ============================================================== -->
                  <!-- End Notification -->
                  <!-- Start Feeds -->
                  <!-- End Feeds -->
               </div>
              <br>
               <!---<div class="row">
                  <div class="col-12">
                     <div class="row page-titles">
                        <div class="col-md-5 align-self-center">
                           <h3 class="text-themecolor">Deep About Tweet</h3>
                           <ol class="breadcrumb">
                              <li class="breadcrumb-item">
                                 <h6><b>Maps </b></h6>
                              </li>
                           </ol>
                        </div>
                     </div>
                     <div class="card">
                        <div class="card-body">
                           <div id="gmaps-simple" class="gmaps"></div>
                        </div>
                     </div>
                  </div>
               </div>-->
               <!-- ============================================================== -->
               <!-- End Notification And Feeds -->
               <!-- ============================================================== -->
               <!-- ============================================================== -->
               <!-- End Page Content -->
               <!-- ============================================================== -->
            </div>
            <br><br>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer"> <b>© 2018 DEEP ABOUT TWEET</b> </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
         </div>
         <!-- ============================================================== -->
         <!-- End Page wrapper  -->
         <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Wrapper -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- All Jquery -->
      <!-- ============================================================== -->
      <script src="{% static 'dash/assets/node_modules/jquery/jquery.min.js' %}"></script>
      <!-- Bootstrap popper Core JavaScript -->
      <script src="{% static 'dash/assets/node_modules/bootstrap/js/popper.min.js' %}""></script>
      <script src="{% static 'dash/assets/node_modules/bootstrap/js/bootstrap.min.js' %}""></script>
      <!-- slimscrollbar scrollbar JavaScript -->
      <script src="{% static 'dash/js/perfect-scrollbar.jquery.min.js' %}""></script>
      <!--Wave Effects -->
      <script src="{% static 'dash/js/waves.js' %}""></script>
      <!--Menu sidebar -->
      <script src="{% static 'dash/js/sidebarmenu.js' %}""></script>
      <!--Custom JavaScript -->
      <script src="{% static 'dash/js/custom.min.js' %}""></script>
      <!-- ============================================================== -->
      <!-- This page plugins -->
      <!-- ============================================================== -->
      <!--morris JavaScript -->
      <script type="text/javascript">
         $('a').on('click', function (event) {
         var $anchor = $(this);
         $('html, body').stop().animate({
         scrollTop: $($anchor.attr('href')).offset().top - 90
         }, 1000);
         event.preventDefault();
         // code

         });
      </script>
     
      <script src="{% static 'dash/assets/node_modules/raphael/raphael-min.js' %}""></script>
      <script src="{% static 'dash/assets/node_modules/morrisjs/morris.min.js' %}""></script>
      <!--c3 JavaScript -->
      <script src="{% static 'dash/assets/node_modules/d3/d3.min.js' %}""></script>
      <script src="{% static 'dash/assets/node_modules/c3-master/c3.min.js' %}""></script>
      <!-- Chart JS -->
      <script src="{% static 'dash/js/dashboard1.js' %}""></script>
      <script src="https://maps.google.com/maps/api/js?key=AIzaSyCUBL-6KdclGJ2a_UpmB2LXvq7VOcPT7K4&sensor=true"></script>
      <script src="{% static 'dash/assets/node_modules/gmaps/gmaps.min.js' %}""></script>
      <script src="{% static 'dash/assets/node_modules/gmaps/jquery.gmaps.js' %}""></script>
   </body>
</html>
