<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link href="https://www.highcharts.com/highslide/highslide.css" rel="stylesheet" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
        <script type="text/javascript" src="https://code.highcharts.com/highcharts-more.js"></script>
        <script type="text/javascript" src="https://code.highcharts.com/modules/heatmap.js"></script>
        <script type="text/javascript" src="https://code.highcharts.com/modules/exporting.js"></script>
    </head>
    <body style="margin:0;padding:0">
                <div id="container" style="width:1000px;height:550px;">Loading....</div>


    <script>
        $(function(){


 




            Highcharts.setOptions({"lang": {}, "global": {}});
            var option = {"loading": {}, "subtitle": {"text": "Number of Tweets vs Time of Tweet"}, "xAxis": {"type": "category", "title": {"text": "Time Interval"}}, "title": {"text": "Time Analysis of 400 Tweets"}, "series": {}, "labels": {}, "yAxis": {"title": {"text": "Number of Tweets"}}, "chart": {"width": 1000, "renderTo": "container", "type": "column", "height": 550}, "tooltip": {}, "plotOptions": {"series": {"borderWidth": 0, "dataLabels": {"enabled": true, "format": "{point.y}"}}}, "credits": {"enabled": false}, "colors": {}, "pane": {}, "exporting": {}, "drilldown": {}, "navigation": {}, "legend": {"enabled": false}};


            var data = [{"colorByPoint": false, "data": [{"y": 18, "name": "01:00 to 03:00"}, {"y": 57, "name": "04:00 to 06:00"}, {"y": 60, "name": "07:00 to 09:00"}, {"y": 70, "name": "10:00 to 12:00"}, {"y": 79, "name": "13:00 to 15:00"}, {"y": 76, "name": "16:00 to 18:00"}, {"y": 38, "name": "19:00 to 21:00"}, {"y": 2, "name": "22:00 to 24:00"}], "type": "column", "name": "Tweets"}];
            option.series = data;

 

            var chart = new Highcharts.Chart(option);





 


        
    });
        </script>

    </body>
</html>